#игорируем артифакты в подпапке
docker/ftp_artifact_store/mlflow/data/**

!docker/ftp_artifact_store/mlflow/data/.gitkeep

#игнорируем файл 
myapp/.ipynb_checkpoints

myapp/db/.ipynb_checkpoints

myapp/db/local_db/.ipynb_checkpoints

myapp/outputs2/.ipynb_checkpoints

#игнорируем  файл бд postgres 
myapp/voluem_store/**

myapp/mlruns/**

#отмена игнора остального )
!myapp/

